<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
-->
<configuration>
  <configSections>
    <section name="routeMapping" type="NearForums.Configuration.Routing.RouteMappingConfiguration, NearForums" requirePermission="false" />
    <section name="site" type="NearForums.Helpdesk.Configuration.NearForumConfigOverriden, NearForums.Helpdesk.Configuration" requirePermission="false" />
    <section name="redirector" type="NearForums.Configuration.Redirector.RedirectorConfiguration, NearForums" requirePermission="false" />
    <section name="integration" type="NearForums.Configuration.Integration.IntegrationConfiguration, NearForums" requirePermission="false" />
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" requirePermission="false" />
    <section name="dataAccess" type="NearForums.DataAccess.Configuration.DataAccessConfiguration, NearForums.DataAccess" />
    <section name="helpdesk" type="NearForums.Helpdesk.Configuration.HelpdeskConfig, NearForums.Helpdesk.Configuration" />
  </configSections>
  <appSettings>
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <routeMapping configSource="Config\Routes.config" />
  <site configSource="Config\Site.config" />
  <redirector configSource="Config\Redirector.config" />
  <integration configSource="Config\Integration.config" />
  <nlog configSource="Config\Logging.config" />
  <dataAccess getRowsAffectedMethod="ExecuteScalar" />
  <helpdesk cookieName="x-axence-helpdesk-apikey" skipFiles=".js, .css, .html, .png, .gif" debug="true" hdConnectionStringName="Helpdesk" forumConnectionStringName="Forums" secretToken1="ad37e5ab-ac25-44ca-8cd5-57a5a1dee9f6" secretToken2="3c6b5429-08fc-4937-9f8a-ee481cfc91fc" />
  <connectionStrings>
    <add name="Forums" connectionString="host=127.0.0.1;Port=5432;User Id=postgres;Password=domino;SSL=false;SslMode=Disable;Database=axencehelpdeskForum;" providerName="ForumDbProvider" />
    <add name="Helpdesk" connectionString="host=127.0.0.1;Port=5432;User Id=postgres;Password=domino;SSL=false;SslMode=Disable;Database=axencehelpdesk;" providerName="Npgsql" />
    <!--
    The above connectionstring with name "forums" will be used by the site.
    Below this line you can see 2 samples of connection strings, one that points to a Microsoft SQL Server database and other that points to a MySql database.
    <add name="ForumsMSSQL" connectionString="Data Source=localhost;Initial Catalog=Forums;User ID=sa;Password=12345678" providerName="System.Data.SqlClient"/>
    <add name="ForumsMySql" connectionString="Server=localhost;Database=forums;Uid=user;Pwd=12345678;" providerName="MySql.Data.MySqlClient"/>
    -->
  </connectionStrings>
  <system.data>
    <DbProviderFactories>
      <add name="Npgsql" invariant="npgsql" type="Npgsql.NpgsqlFactory, Npgsql" description="Npgsql data provider" />
      <add name="ForumDbProvider" invariant="ForumDbProvider" type="NearForums.Helpdesk.DataProvider.Factory, NearForums.Helpdesk.DataProvider" description="Data providers that sets schema before each query." />
    </DbProviderFactories>
  </system.data>
  <system.web>
    <authentication mode="Forms">
      <forms name="x-axence-helpdesk-apikey" />
    </authentication>
    <membership defaultProvider="hdMembership">
      <providers>
        <clear />
        <add name="hdMembership" type="NearForums.Helpdesk.HelpdeskMembershipProvider, NearForums.Helpdesk" ConnectionStringName="Membership" />
      </providers>
    </membership>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Helpers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.WebPages, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
      </assemblies>
    </compilation>
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <!--<trust level="Medium" />-->
    <httpHandlers>
      <remove verb="GET,HEAD,POST" path="*" />
      <add verb="*" path="*" type="NearForums.Web.Handlers.StaticFileHandler, NearForums.Web" />
    </httpHandlers>
    <httpModules>
      <add name="RedirectorModule" type="NearForums.Web.Modules.RedirectorModule, NearForums.Web" />
      <add name="HDAuthModule" type="NearForums.Helpdesk.Modules.Authentication, NearForums.Helpdesk" />
      <add name="ForumInstanceChecker" type="NearForums.Helpdesk.Modules.DbMaintenance, NearForums.Helpdesk" />
      <add name="ModelBinderModule" type="NearForums.Web.Modules.ModelBinderModule, NearForums.Web" />
      <add name="CompressionModule" type="NearForums.Web.Modules.CompressionModule, NearForums.Web" />
    </httpModules>
    <httpRuntime />
  </system.web>
  <!-- 
  IIS 7.0.  or above
-->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="RedirectorModule" type="NearForums.Web.Modules.RedirectorModule, NearForums.Web" />
      <add name="HDAuthModule" type="NearForums.Helpdesk.Modules.Authentication, NearForums.Helpdesk" />
      <add name="ForumInstanceChecker" type="NearForums.Helpdesk.Modules.DbMaintenance, NearForums.Helpdesk" />
      <add name="ModelBinderModule" type="NearForums.Web.Modules.ModelBinderModule, NearForums.Web" />
    </modules>
    <handlers>
      <remove name="*" />
      <add name="NearForumStaticFileHandler" verb="*" path="*" type="NearForums.Web.Handlers.StaticFileHandler, NearForums.Web" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Deployment" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>